{% extends 'templates/app.twig' %}


{% block content%}
<div class="row my-4">
     <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
       <div class="card card-signin">
         <div class="card-header text-center">Change Password</div>
         <div class="card-body">
           <form action="{{ path_for('auth.password.change') }}" method="post" autocomplete="off">
            <div class="form-row">

              <div class="col-md-12">
                <label for="password_old">Current Password</label>
                <input type="password" name="password_old" id="password_old" class="form-control {{ errors.password_old ? ' is-invalid ' : '' }}">
                <div class="invalid-feedback"> {{ errors.password_old | first }}</div>
              </div>

              <div class="col-md-12">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control {{ errors.password ? ' is-invalid ' : '' }}">
                <div class="invalid-feedback"> {{ errors.password | first }}</div>
              </div>

            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-block">Change Password </button>


           </form>
         </div>
       </div>
     </div>
</div>
{% endblock%}
